{
    "ownerID": [
        "304778919368982530"
    ],
    "clientID": "900196476951601153",
    "databaseKey": "",
    "discordAPIkey": "",
    "hypixelAPIkey": "",
    "keyLimit": 120,
    "sentryDsn": "",
    "sentryEnvironment": "development"
}